.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul >li{
    padding: 10px;
    margin: 10px;
}

.res-card:hover{
    border: 1px solid rgb(78, 73, 73);
}

.res-card{
    padding: 2px;
    margin: 5px;
    width: 22%;
    min-height: 100px;
    border: 1px solid rgb(214, 203, 203);
    cursor: pointer;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 5px;
    cursor: pointer;
}